## Provider API Keys
REACT_APP_INFURA_API_KEY=a246b3c7d80245a4814fee5dbda8c1e6
REACT_APP_ALCHEMY_API_KEY=""
REACT_APP_ETHERSCAN_API_KEY=""

## Contract Address
REACT_APP_SUPPORTED_CHAIN_IDS=5,31337


## Site Configuration
REACT_APP_SITE_URL="https://app.sarcophagus.io/"

## Peer discovery configuration
REACT_APP_BOOTSTRAP_NODE_LIST="/ip4/143.198.182.181/tcp/10000/ws/p2p/12D3KooWAsxUbeyiTv8zr7iURBh2ugajHK2ZsS8Js4Vu3Q3SrLpA"
REACT_APP_SIGNAL_SERVER_LIST="sig.encryptafile.com"

## Sentry configuration
REACT_APP_SENTRY_DSN=""